<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>741547804045-6o1b1vgbic2ffphgqedfo9qn4t2jc41o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741547804045-6o1b1vgbic2ffphgqedfo9qn4t2jc41o</string>
	<key>API_KEY</key>
	<string>AIzaSyBWr--j4bKmt0gUbxdjgv695U50z2CSFes</string>
	<key>GCM_SENDER_ID</key>
	<string>741547804045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gdg.demo.FIRDemo</string>
	<key>PROJECT_ID</key>
	<string>firdemo-84b6b</string>
	<key>STORAGE_BUCKET</key>
	<string>firdemo-84b6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:741547804045:ios:684ec1a6654ba2a9</string>
	<key>DATABASE_URL</key>
	<string>https://firdemo-84b6b.firebaseio.com</string>
</dict>
</plist>